# Salin file ini menjadi .env lalu isi dengan kredensial project Supabase kamu.
# Dashboard Supabase > Project Settings > API

VITE_SUPABASE_URL=https://xnnvhfcwdajhsowaxtsy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhubnZoZmN3ZGFqaHNvd2F4dHN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNDI5MTQsImV4cCI6MjA5NTYxODkxNH0.GtZ7gVYvy9GyfdtPFp14Qopeq-YUpQAtWf-dNezcY4M